<!DOCTYPE html>
<html>
  <head>
    <title>Music Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col">
    <nav style="view-transition-name: nav" class="bg-gray-800 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-lg font-bold">Music Rails</a>
        <div>
          <a href="<%= cat1_path %>" class="mr-4 hover:text-gray-400">Cat</a>
          <a href="<%= playlists_path %>" class="mr-4 hover:text-gray-400">Playlists</a>
          <a href="<%= emoji1_path %>" class="hover:text-gray-400">Emoji</a>
        </div>
      </div>
    </nav>
    <main class="flex flex-col flex-1">
      <%= yield %>
    </main>
  </body>
</html>
